{%extends "base.html"%}
{%block main%}
<div class="d-flex justify-content-center">
    <ul class="list-group mx-4" style="width: 350px;">
        <li class="list-group-item t_100" role="button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Descripción del campo nombre de persona" onmouseover="show_t(this)" onmouseout="show_t(this, true)">Nombre de persona</li>
        <li class="list-group-item" role="button">Profesión</li>
        <li class="list-group-item" role="button">Género</li>
    </ul>
    
    <ul class="list-group mx-4" style="width: 350px;">
        <li class="list-group-item t_100" role="button">100</li>
        <li class="list-group-item" role="button">372</li>
        <li class="list-group-item" role="button">375</li>
    </ul>
</div>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    const show_t = (element, deactivate) => {
        const t = element.className.substring(element.className.length -5, element.className.length);
        [...document.getElementsByClassName(element.className)].forEach((element) => {
            element.className = `list-group-item active ${t}`; 
            if (deactivate) {
                element.className = `list-group-item ${t}`; 
            };
        });
    };
</script>
{%endblock%}