{%extends 'base.html'%}
{%block main%}
<div class="d-flex justify-content-center mx-auto flex-column" style="width: 500px;">
    <h3 class="mx-auto">Distribución de llamadas</h3>
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const get_data = async(url) => {
        let res = await fetch(url);
        
        const data = await res.json();
        
        return data;
    };
    let url = "http://144.91.118.190/api/searchesD2z2UAdAydEX1";
    // let url = "http://localhost:3000/api/searchesD2z2UAdAydEX1";
    const ctx = document.getElementById('myChart');


    const create_chart = async() => {
        const portions = {"per":0, "ent": 0, "mon": 0, "geo":0};
        data = await get_data(url);
        data.data.forEach(element => {
            portions[element.time] ++ ;
        });
        console.log(portions);
        new Chart(ctx, {
          type: 'pie',
          data: {
            labels: ["per", "mon", "ent", "geo"],
            datasets: [{
              label: 'Distribución de llamadas',
              data: [portions.per/data.length, portions.mon/data.length,portions.ent/data.length,portions.geo/data.length],
              borderWidth: 1
            }]
          }
        });
    };
    create_chart();
  </script>
  
{%endblock%}